<h1><%= @game.player1.name %> - HP = <%= @game.player1.hp %> vs <%= @game.player2.name %> - HP = <%= @game.player2.hp %></h1> <br>

<form action='/play' method='post'>
<input type='submit' value='Attack'>
</form>

<% if @hit %>
<%= @hit %>
<% end %> <br>

<%= @game.player_turn%>'s turn! <br>

<% if @game.loser %>
<%= @game.loser %> you've lost
<% end %> <br>
